web/WEB-INF/wsdl/localhost_8080/VideoSlotWebServer/ServerController.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Server/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServerController" targetNamespace="http://Server/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://Server/" elementFormDefault="unqualified" targetNamespace="http://Server/" version="1.0">

  <xs:element name="createGame" type="tns:createGame"/>

  <xs:element name="createGameResponse" type="tns:createGameResponse"/>

  <xs:element name="executeSpin" type="tns:executeSpin"/>

  <xs:element name="executeSpinResponse" type="tns:executeSpinResponse"/>

  <xs:element name="getSymbols" type="tns:getSymbols"/>

  <xs:element name="getSymbolsResponse" type="tns:getSymbolsResponse"/>

  <xs:element name="randomizeMathValues" type="tns:randomizeMathValues"/>

  <xs:element name="randomizeMathValuesResponse" type="tns:randomizeMathValuesResponse"/>

  <xs:complexType name="getSymbols">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:webServerTransferObject"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="webServerTransferObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="symbols" nillable="true" type="tns:symbol"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="positions" nillable="true" type="tns:position"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="linePayouts" nillable="true" type="tns:linePayout"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="sPositions" nillable="true" type="tns:sPosition"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="spinLinePayouts" nillable="true" type="tns:spinLinePayout"/>
      <xs:element minOccurs="0" name="spin" type="tns:spin"/>
      <xs:element minOccurs="0" name="game" type="tns:game"/>
      <xs:element minOccurs="0" name="win" type="tns:win"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element name="signal" type="xs:boolean"/>
      <xs:element minOccurs="0" name="gameObject" type="tns:game"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="positionsList" nillable="true" type="tns:position"/>
      <xs:element minOccurs="0" name="spinObject" type="tns:spin"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="symbolsList" nillable="true" type="tns:symbol"/>
      <xs:element minOccurs="0" name="userObject" type="tns:user"/>
      <xs:element minOccurs="0" name="winObject" type="tns:win"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="balance" type="xs:int"/>
      <xs:element minOccurs="0" name="birthDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="gender" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="symbol">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="position">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="x" type="xs:int"/>
      <xs:element name="y" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="linePayout">
    <xs:sequence>
      <xs:element name="amount" type="xs:int"/>
      <xs:element name="arrayLength" type="xs:int"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="symbolId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sPosition">
    <xs:sequence>
      <xs:element name="gameId" type="xs:int"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="position" type="tns:position"/>
      <xs:element name="spinId" type="xs:int"/>
      <xs:element minOccurs="0" name="symbol" type="tns:symbol"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="spinLinePayout">
    <xs:sequence>
      <xs:element name="gameId" type="xs:int"/>
      <xs:element name="lineNumber" type="xs:int"/>
      <xs:element name="linePayoutId" type="xs:int"/>
      <xs:element name="spinId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="spin">
    <xs:sequence>
      <xs:element name="bet" type="xs:int"/>
      <xs:element name="gameId" type="xs:int"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="sPositions" nillable="true" type="tns:sPosition"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="game">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="userId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="win">
    <xs:sequence>
      <xs:element name="amount" type="xs:int"/>
      <xs:element name="gameId" type="xs:int"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="spinId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSymbolsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:webServerTransferObject"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="executeSpin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:webServerTransferObject"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="executeSpinResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:webServerTransferObject"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="randomizeMathValues">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:webServerTransferObject"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="randomizeMathValuesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:webServerTransferObject"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createGame">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:webServerTransferObject"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createGameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:webServerTransferObject"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSymbols">
    <wsdl:part element="tns:getSymbols" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeSpinResponse">
    <wsdl:part element="tns:executeSpinResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSymbolsResponse">
    <wsdl:part element="tns:getSymbolsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createGameResponse">
    <wsdl:part element="tns:createGameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="randomizeMathValuesResponse">
    <wsdl:part element="tns:randomizeMathValuesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeSpin">
    <wsdl:part element="tns:executeSpin" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="randomizeMathValues">
    <wsdl:part element="tns:randomizeMathValues" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createGame">
    <wsdl:part element="tns:createGame" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServerController">
    <wsdl:operation name="getSymbols">
      <wsdl:input message="tns:getSymbols" name="getSymbols">
    </wsdl:input>
      <wsdl:output message="tns:getSymbolsResponse" name="getSymbolsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeSpin">
      <wsdl:input message="tns:executeSpin" name="executeSpin">
    </wsdl:input>
      <wsdl:output message="tns:executeSpinResponse" name="executeSpinResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="randomizeMathValues">
      <wsdl:input message="tns:randomizeMathValues" name="randomizeMathValues">
    </wsdl:input>
      <wsdl:output message="tns:randomizeMathValuesResponse" name="randomizeMathValuesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createGame">
      <wsdl:input message="tns:createGame" name="createGame">
    </wsdl:input>
      <wsdl:output message="tns:createGameResponse" name="createGameResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServerControllerSoapBinding" type="tns:ServerController">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSymbols">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSymbols">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSymbolsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeSpin">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="executeSpin">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeSpinResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="randomizeMathValues">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="randomizeMathValues">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="randomizeMathValuesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createGame">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createGame">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createGameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerController">
    <wsdl:port binding="tns:ServerControllerSoapBinding" name="ServerControllerPort">
      <soap:address location="http://localhost:8080/VideoSlotWebServer/ServerController"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>